<% provide(:title, 'Theme') %>
<h1>Theme</h1>
<div id="hmenu"> 
  <nav>
    <ul>
      <li><%= link_to "Ajouter_Anecdote", anecdote_path %></li>
      <li><%= link_to "Sujet", sujet_path %></li>
      <li><%= link_to "Theme", theme_path %></li>
    </ul>
  </nav>
</div>
<p>Find me in app/views/static_pages/theme.html.erb</p>
